

/* @import "tailwindcss"; */

/* Your other custom CSS follows below */

/* @theme {
  --color-primary-main: #00927c;
  --color-secondary-main: #eaf0f1;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom layers go below */
@layer base {
  /* ... */
}